/*
Notices
---------------------------------------------*/

@import 'notices/oauth';

/*
Sections
---------------------------------------------*/

@import 'sections/widgets';
@import 'sections/apps';
@import 'sections/memberships';

/*
Widgets
---------------------------------------------*/

@import 'widgets/forms';

#wpwrap,
#wpcontent {
  background-color: #F3F6F8;
}

#wpcontent {
  padding: 0;

  .wrap {
    margin: 0;
  }
}

@mixin wrap {
  width: 500px;
  max-width: 100%;
  margin: auto;
}

#ninja-forms-dashboard {

  box-sizing: border-box;

  .topbar,
  .sections,
  .content {
    padding: 10px;
    margin-bottom: 20px;
  }

  header {
    background-color: white;

    .app-title {
      @include wrap;
      padding: 10px;
    }
  }

  nav {
    @include wrap;
    margin-bottom: 20px;
    background-color: white;
    ul {
      display: flex;
      li {
        padding-right: 10px;
      }
    }
  }

  main {
    @include wrap;
    background-color: white;
  }
}