th {
  font-weight: bold;
}

.widget-forms {
  header {
    display: flex;

    div {
      flex: 1;
    }
  }

  .action,
  .action2 {
    display: flex;
  }
}

.template-list {
  display: flex;
  justify-content: space-between;

  & > div {
    width: 50%;
    padding: 5px;
  }

  .template {
    padding: 10px;
    background-color: gray;
  }
}